/*
################
# Variables
################
*/
$font-size: 16px;
$line-height: $font-size * 1.6;
$font-display: 'Merriweather', Times, Georgia, serif;
$font-body: 'Roboto', Helvetica, Arial, sans-serif;

// these values are not scalar...
$h1-size: 11.375rem;
$h2-size: 6.3125rem;
$h3-size: 4.9375rem;
$h4-size: 2.9375rem;
$h5-size: 1.8125rem;
$p-size: 1.1rem;


// Element sizes
$height-navigation: 5rem;