@import '../base/variables.scss';
@import '../base/utils.scss';

@keyframes hideshow {
  0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
} 

.symbol {
  transition: all .30s ease-in-out;
  animation: hideshow 10s ease infinite;
}
