@import "../base/base";

.hero {
  position: relative;
  display: flex;
  padding: 2rem;
  background: color(scrub);
  margin-bottom: 2rem;

  @include respond-to(md) {
    background: url("../../public/hero@2x.png") center right no-repeat;
    background-size: contain;
    height: 60vh;
    padding: 0;
    grid-column: 2/12;
  }
}

.heroHeadline {
  display: flex;
  flex: 0 100%;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  padding: 2rem;

  h1 {
    font-size: 11vw;
    text-align: center;
    margin-bottom: 0;
  }

  @include respond-to(md) {
    flex: 0 55vw;
    flex-flow: column;
    h1 {
      font-size: 5vw;
      text-align: left;
    }
  }
}

.actions {
  display: flex;
  flex-direction: column;

  @include respond-to(md) {
    flex-direction: row;
  }
}
