@import "../base/variables.scss";
@import "../base/utils.scss";

// prototype container
.container {
  display: flex;
  margin: auto;
  min-height: 480px;
  flex-flow: column wrap;
  background-color: white;

  @include respond-to(md) {
    flex-flow: row wrap;
  }
  @include respond-to(xl) {
    padding: 0 8vw;
  }
}

.reverse {
  flex-flow: column-reverse wrap;
  @include respond-to(md) {
    flex-flow: row wrap;
  }
}

.copy {
  flex: 0 100%;
  padding: 2rem;
  display: flex;
  align-content: center;
  flex-flow: row wrap;
  @include respond-to(md) {
    flex: 1;
    padding: 0 3rem;
  }
}
.image {
  flex: 0 100%;
  padding: 2rem 0;
  @include respond-to(md) {
    flex: 2;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.logowall {
  grid-column: 1/13;
  display: flex;
  flex-flow: column wrap;

  @include respond-to(md) {
    grid-column: 2/12;
    flex-flow: row wrap;
    margin-top: 2rem;
  }

  li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;

    @include respond-to(md) {
      padding: 0 1rem;
    }
  }
}

.deck {
  grid-column: 1 / -1;
  padding: 2rem;

  @include respond-to(md) {
    grid-column: 2/12;
    padding: 4rem 0;
    flex-flow: row;
  }
}

.deckContent {
  grid-column: 3/11;
}

.roadblock {
  grid-column: 1/-1;
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;
  padding: 1rem;

  @include respond-to(md) {
    grid-column: 3/11;
    flex-flow: row;
  }

  .lColumn {
    flex: 0 75%;
    padding: 1rem;
  }
  .rColumn {
    flex: 0 25%;
    padding: 1rem;
  }
}

.stats {
  @include isGrid(12, 1rem);
  background-color: #f8f9fa;
  padding: 6rem 2rem;
}
.statsContent {
  padding: 2rem;
  grid-column: 1 / -1;

  @include respond-to(md) {
    grid-column: 2 / 12;
  }
}

.quotes {
  grid-column: 2 / 12;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include respond-to(md) {
    margin-bottom: 4rem;
  }
}
.quote {
  display: flex;
  padding: 2rem;
  margin: 0.5rem;
  border: 1px solid $scrub;
  border-radius: 1rem;
  flex-direction: column;
  flex: 0 100%;

  @include respond-to(md) {
    flex-basis: calc(50% - 1rem);
  }
  @include respond-to(lg) {
    flex-basis: calc(33% - 1rem);
  }

  p {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: auto;
  }
}
.attr {
  text-align: center;
  align-self: flex-end;
  margin-top: 2rem;
  width: 100%;
  h5 {
    font-size: 1.25rem;
    line-height: 1.5;
    margin: .75rem 0 0;
  }
  cite {
    font-size: calc(15 / 16) px;
    color: $hull;
  }
}
