@import "../base/base";

.talker {
  padding: 2rem;
}

.bordered {
  flex: 1;
  border: 1px solid color(scrub);
  padding: 1.5rem;
  border-radius: 12px;
  margin: .75rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  @include respond-to(md) {
    flex: 0 33%;
  }

  @include respond-to(lg) {
    flex: 1;
  }

  .quote {
    flex: 1;
    width: 100%;
    margin-bottom: 2vh;
  }

  .citation {
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: .5rem;
    }

    p {
      margin: 0;
    }
  }
}