@import "../base/base";

.banner {
  grid-column: 1/13;
  color: color(fog);
  background: color(coal);
  text-align: center;
  font-size: 1.125rem;
  height: 4rem;
  line-height: 3.5rem;
  z-index: 999;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 80;
  background: color(midcentury);
  @include animate(0.2s, ease-in-out);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  & * {
    grid-column: 1 / -1;
  }

  ul {
    margin-top: 13vh;
  }

  ul li {
    color: white;
    font-family: $font-display;
    font-size: $h5-size;
    line-height: 1.2;

    @include respond-to(md) {
      font-size: $h3-size;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

  @include respond-to(md) {
    padding: 5vw;
  }
}
.overlayOn {
  composes: overlay;
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
.overlayOff {
  composes: overlay;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-2rem);
}

.navigation {
  height: $height-navigation;
  padding: 0 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  grid-column: 1/13;
  position: sticky;
  z-index: 999;
  top: 0;
  background: white;
  margin: -0.5rem 0 0;
  @include animate(0.3s, ease-in-out);
}
.navigationShadow {
  composes: navigation;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

li.navigationLogo {
  display: flex;
  align-content: center;
  margin-right: auto;

  img {
    height: 100%;
    object-fit: cover;
  }
}
.navigation li {
  height: $height-navigation / 2.3;
  line-height: 2;
  padding: 0 0.8rem;
  color: color(coal);

  a {
    color: color(coal);
    text-decoration: none;
  }
  a:visited {
    color: color(coal);
    text-decoration: none;
  }
  a:active {
    color: color(scrub);
    text-decoration: none;
  }
}
.navigation li.divider {
  position: relative;
  padding: 0 1rem;
  display: block;
  &:after {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
    height: 100%;
    width: 1px;
    content: "";
    background: color(scrub);
  }
}
.navigation li.special a {
  background: #444;
  color: color(fog);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 100px;
}
.navigation li.hamburger {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  padding-top: 2px;
}
.navigation li.autohide {
  @extend .hide-for-small;
  @extend .hide-for-medium;
  @extend .hide-for-large;
}
