@keyframes zoomIn {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.overlay {
  background: color(midcentury);
  position: fixed;
  top: -9999;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  padding-top: 1.25rem;
  display: flex;
  transition: all 0.30s ease-in-out;

  &--hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-4rem);
  }

  &--visible {
    top: 0;
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }

  ul li {
    font-size: $h4-size;
  }
}

.overlay__links {
  padding: 3rem;

  li {
    margin-bottom: 1rem;
  }

  li a {
    text-decoration: none;
    color: color(coal);
    border-bottom: 2px solid color(coal);
  }
}

.overlay__actions {
  padding: 3rem;
  margin-left: auto;

  li {
    text-align: center;
  }
  li.spaced {
    margin-bottom: 4rem;
  }
}

.overlay__legal {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
}

.menutrigger {
  position: absolute;
  top: 5.75rem;
  right: 3.75rem;
  z-index: 80;
  pointer-events: all;
}
