@import "../base/base";

.billboard {
  background: white url('../../public/images/nav_photo.png') center center no-repeat;
  background-size: fill;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 920px;
  border: 1rem solid white;

  @include respond-to(md) {
    border: 3rem solid white;
  }
}

.billboardCopy {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  @include respond-to(md) {
    grid-column: 2/7;
  }
  
  * {
    color: color(fog);
  }
}
