@import "./reset.css";
@import "./base/variables.scss";
@import "./base/utils.scss";

/*
###################################################
# Fonts
###################################################
*/

@font-face {
  font-family: "Tiempos Medium";
  font-weight: 400;
  src: url("./fonts/TiemposHeadline-Medium.woff") format("woff");
}
@font-face {
  font-family: "Circular Book";
  font-weight: 200;
  src: url("./fonts/lineto-circular-pro-book.woff") format("woff");
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-display;
  color: $admiral;
}

h1 {
  font-size: $h1-size;
  line-height: 1;
  margin-bottom: $h1-size/2;
}
h2 {
  font-size: $h2-size;
  line-height: 1;
  margin-bottom: $h2-size/2;
}
h3 {
  font-size: $h3-size;
  line-height: 1;
}
h4 {
  font-size: $h4-size;
  line-height: 1;
  margin-bottom: $h4-size/3;
}
h5 {
  font-size: $h5-size;
  line-height: 1.2;
  margin-bottom: $h5-size/3;
}

p {
  color: $hull;
  font-size: 1rem;
  line-height: 1.3;
  font-size: 1.125rem;
  margin-bottom: 1rem;

  &.small {
    font-size: 0.9375rem;
    line-height: 1.5;
  }

  &.medium {
    font-size: 1rem;
    line-height: 1.5;
  }

  &.large {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  &.xlarge {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}
em {
  font-style: italic;
}

/*
###################################################
# Body
###################################################
*/

body {
  font-size: $font-size;
  font-family: $font-body;
  line-height: 1.3;
  color: #444;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $hyperlink;
  text-decoration: underline;
}

/*
###################################################
# Global layout & grid
###################################################
*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  & * {
    grid-column: 1 / 13;
  }
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
img.cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include respond-to(md) {
    flex-direction: row;
    grid-column: 2/12;
  }

  &--pull-left {
    @include respond-to(md) {
      flex-direction: row;
      grid-column: 1/12;
    }
  }
  &--pull-right {
    @include respond-to(md) {
      flex-direction: row;
      grid-column: 2/-1;
    }
  }
  &--reverse {
    @media screen and (max-width: 640px) {
      flex-direction: column-reverse;
    }
  }
}

.column {
  // this is the default column
  // flexbox will pack these automatically
  // into .columns
  flex: 1;
  padding: 1rem;

  // these are specified width
  // flex items
  &--25 {
    flex: 0 25%;
  }
  &--50 {
    flex: 0 50%;
  }
  &--75 {
    flex: 0 75%;
  }
  &--33 {
    flex: 0 33%;
  }
  &--66 {
    flex: 0 66%;
  }

  // a column can also be
  // a flex container
  // this strips padding from the column
  // and orients it as a flex parent

  &--is-flex {
    padding: 0;
    display: flex;
    flex-direction: column;
    @include respond-to(md) {
      flex-direction: row;
    }
  }

  // allows a column to (1) be a flex parent,
  // (2) and center its children vertically
  // and horizontally
  &--center-children {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}

// breakout puts a new grid onto the viewport
// that allows for edge to edge color backgrounds
// on sections

.breakout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @include respond-to(md) {
    grid-column: 1/13;
  }

  &.fog {
    background-color: $fog;
  }

  &.white {
    background-color: white;
  }

  &.belaire {
    background-color: $belaire;
  }
}
