@import './reset.css';
@import './base/variables.scss';
@import './base/utils.scss';

/*
################
# Fonts
################
*/

@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap');
@font-face {
  font-family: 'Circular Book';
  font-weight: 200;
  src: url('./fonts/lineto-circular-pro-book.woff') format("woff")
}

h1, h2, h3, h4, h5 {
  font-family: $font-display;
  margin: 0;
  line-height: $line-height;
  color: $admiral;
}

h1 {
  font-size: $h1-size;
  line-height: 110%;
}
h2 {
  font-size: $h2-size;
  line-height: 110%;
}
h3 {
  font-size: $h3-size;
  line-height: 110%;
}
h4 {
  font-size: $h4-size;
  line-height: 110%;
}
h5 {
  font-size: $h5-size;
  line-height: 110%;
}

p {
  @extend .f-18;
  @extend .text-gray;
  line-height: 160%;
  margin-top: 1rem;
}

/*
################
# Body Setup
################
*/

body {
  font-size: $font-size;
  font-family: $font-body;
  color: #444;
  position: relative;
}

body * {
  box-sizing: border-box;
}

a {
  color: $hyperlink;
  text-decoration: underline;
}