@import './reset.css';
@import './base/variables.scss';
@import './base/utils.scss';

/*
###################################################
# Fonts
###################################################
*/

@font-face {
  font-family: 'Tiempos Medium';
  font-weight: 400;
  src: url('./fonts/TiemposHeadline-Medium.woff') format("woff")
}
@font-face {
  font-family: 'Circular Book';
  font-weight: 200;
  src: url('./fonts/lineto-circular-pro-book.woff') format("woff")
}

h1, h2, h3, h4, h5 {
  font-family: $font-display;
  color: $admiral;
}

h1 {
  font-size: $h1-size;
  line-height: 1;
  margin-bottom: $h1-size/2;
}
h2 {
  font-size: $h2-size;
  line-height: 1;
  margin-bottom: $h2-size/2;
}
h3 {
  font-size: $h3-size;
  line-height: 1;
}
h4 {
  font-size: $h4-size;
  line-height: 1;
  margin-bottom: $h4-size/3;
}
h5 {
  font-size: $h5-size;
  line-height: 1.2;
  margin-bottom: $h5-size/3;
}

p {
  color: $hull;
  font-size: 1rem;
  line-height: 1.3;
  font-size: 1.125rem;

  &.large {
    font-size: 20px;
    line-height: 1.5;
  }
  
  &.xlarge {
    font-size: 24px;
    line-height: 1.2;
  }
}
em {
  font-style: italic;
}

/*
###################################################
# Body
###################################################
*/

body {
  font-size: $font-size;
  font-family: $font-body;
  line-height: 1.3;
  color: #444;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $hyperlink;
  text-decoration: underline;
}

/*
###################################################
# Global layout
###################################################
*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: .5rem;
  & * {
    grid-column: 1 / 13;
  }
}

.breakout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: $belaire;
  padding: 3rem 0;
  margin-bottom: 3rem;
  
  @include respond-to(md) {
    grid-column: 1/13;
  }
}

.columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2rem 0;
  padding: 2rem;

  @include respond-to(md) {
    flex-direction: row;
    grid-column: 2/12;
    padding: 0;
  }

  &--reverse {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  &--skinny {
    @include respond-to(md) {
      flex-direction: row;
      grid-column: 4/10;
      padding: 0;
    }
  }
  
}
.column {
  flex: 1;

  &--spaced {
    padding: 1rem;
  }

  &--centerChildren {
    padding: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @include border(pink);
}

.featured {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  & * {
    grid-column: 1 / -1;
  }

  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    @include respond-to(md) {
      flex-direction: row;
      grid-column: 1/12;
    }

    &--reverse {
      @include respond-to(md) {
        flex-direction: row-reverse;
        grid-column: 2/-1;
      }
    }
  }

  .item {
    flex: 1;
    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    &--pad {
      padding: 2rem;
    }

    &--66 {
      flex: 0 66%;
    }
  }
}